.image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-cover .content {
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.container-fluid .search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: 700;
  width: 15%;
  margin-top: 100px;
}

.container-fluid .search .filter {
  width: 100%;
  margin-bottom: 65px;
  padding: 0;

}

.container-fluid .search .filter input {
  margin-right: 14px;
  transform: scale(1.5);
}

.container-fluid .content {
  width: 85%;
  display: flex;
  flex-flow: column wrap;
}

.container-fluid .content .search-box {
  width: 100%;

}

.container-fluid .content .search-box .album-search {
  display: flex;
  align-items: center;
}

.container-fluid .content .search-box button {
  width: 90px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #FF6F61;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.container-fluid .content .main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 57px;
}

#video-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#video-gallery li {
  width: 346px;
  height: 203px;
  margin-top: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#video-gallery li:hover img {
  transform: scale(1.1);
}

#video-gallery li::after {
  font-family: "Font Awesome 5 Free";
  content: "\f04b";
  display: inline-block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#video-gallery li:hover::after {
  width: 100%;
  height: 100%;
}

#video-gallery img {
  width: 346px;
  height: 203px;
  transition: all 0.5s;
  position: absolute;
}

.container-fluid .content .main-content .image-content:hover img {
  transform: scale(1.2);
}

.container-fluid .page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.container-fluid .page-square {
  width: 410px;
  height: 80px;
  display: flex;
  align-items: center;
}

.container-fluid .page-square a {
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: black;
}

.container-fluid .page-square .active {
  background-color: #FF6F61;
}

@media only screen and (min-width: 1817px) {

  .image-content:nth-child(13),
  .image-content:nth-child(14),
  .image-content:nth-child(15) {
    align-self: self-start;
  }
}